.app{
  font-family: sans-serif;
  text-align: center;
}
.questions{
  margin: 20px, auto;
  width: 60%;
  border: 1px solid #dddd;
  padding: 15px;
}
.questions h2 {
  margin-bottom: 10px;
}
.questions > li > button{
  margin-bottom: 10px;
  width: 100%;
}
button{
  padding: 10px,20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}
.options{
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}